body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;

  overflow: hidden;
   background-image: url("canva-pink-watercolor-playful-floral-abstract-ribbon-bows-girly-phone-wallpaper-Al4eXCEBWQE.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:60%;
  background-color: #cccccc;
}
.body1{
   background-image:url("park-pub-tuzla-5.jpg")
   


}
.body2{
  background-image:url("canva-pink-watercolor-playful-floral-abstract-ribbon-bows-girly-phone-wallpaper-Al4eXCEBWQE.jpg")
}
.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 350px;
  position: relative;
}
.card1 {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 350px;
  position: relative;
  opacity: 80%;
}
h1 {
  color: #ff4d6d;
  margin-bottom: 25px;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.buttons {
  position: relative;       /* referenca za absolute */
  height: 80px;
}

.no {
  background: #ff4d6d;
  color: white;
  position: absolute;
  right: 20px;
  top: 50%;
    width: 110px;
  height: 44px;
  box-sizing: border-box;
  /* transform: translateY(-50%);*/
}

.yes {
  background: #ddd;
  position: absolute;
  left: 20px;
  top: 50%;
 /* transform: translateY(-50%);*/
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
}